*~

/target
Cargo.lock
/.cargo/
/mp4san/fuzz/artifacts/
/mp4san/fuzz/corpus/
/mp4san/fuzz/coverage/
/mp4san/fuzz/target/
/mp4san/fuzz-afl/target/
/mp4san/fuzz-afl/output/
/webpsan/fuzz/artifacts/
/webpsan/fuzz/corpus/
/webpsan/fuzz/coverage/
/webpsan/fuzz/target/
/webpsan/fuzz-afl/target/
/webpsan/fuzz-afl/output/
